@page "/create"
@using DialogueCreationKit.DialogueKit.Models
@using System.Text.Json;

<style>
    .form-item {
        margin-bottom: 8px;
    }
</style>

@if (ListNpc != null)
{
    foreach (var npc in ListNpc)
    {
        <Form Model="@npc"
         OnFinish="OnFinish"
         OnFinishFailed="OnFinishFailed"
         LabelColSpan="4"
         WrapperColSpan="8"
         ValidateMode="@FormValidateMode.Rules"
         ValidateOnChange="true"
         Size="@AntSizeLDSType.Small">

            <FormItem Rules="@(new FormValidationRule[]{ new FormValidationRule(){  })">
                <Input @bind-Value="@context.Name" />
            </FormItem>
            <FormItem>
                <Input @bind-Value="@context.Id" />
                <Button OnClick="@(() => context.Id = Guid.NewGuid())">Сгенерировать</Button>
            </FormItem>

        </Form>
    }
}


<TextArea Placeholder="Change the text by code" AutoSize OnResize="OnResize" @bind-Value="@txtValue2" />
<Button OnClick="@(()=>txtValue2 += "\nNew row")">Append Text</Button>

@code {
    private List<Npc> ListNpc { get; set; } = new List<Npc>() { new Npc(), new Npc() };

    private string  = "";

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(editContext)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(editContext)}");
    }
}
