@page "/"
@page "/create"
@using DialogueCreationKit.DialogueKit.Models
@using System.Text.Json;
@using System.ComponentModel.DataAnnotations;
@using System.Globalization;

<style>
    .form-item {
        margin-bottom: 8px;
    }

    .grid-row {
        padding-top: 8px;
        padding-bottom: 8px;
    }

</style>

<GridRow Class="grid-row ">
    <GridCol Flex=@("auto")>
        @if (_listNpc != null)
        {
            foreach (var npc in _listNpc)
            {
                <GridRow Class="grid-row ">
                    <GridCol Span=2>
                        Персонаж
                    </GridCol>
                </GridRow>

                <GridRow Class="grid-row ">
                    <GridCol Span="6">
                        <Input @bind-Value="@npc.Name" Placeholder="Имя" />
                    </GridCol>
                </GridRow>

                <GridRow Class="grid-row ">
                    <GridCol Span="6">
                        <Input @bind-Value="@npc.Id" Placeholder="@Guid.Empty.ToString()" />
                    </GridCol>
                    <GridCol Flex=@("16px")/>
                    <GridCol Span="4">
                        <Button OnClick="@(() => npc.Id = Guid.NewGuid())">Сгенерировать</Button>
                    </GridCol>
                </GridRow>       
            }
        }
    </GridCol>
</GridRow>

<GridRow Class="grid-row ">
    <GridCol Flex=@("auto")>
        <GridRow Class="grid-row ">
            <GridCol Span=4>
                Содержание диалога
            </GridCol>
        </GridRow>

        <GridRow Class="grid-row ">
            <GridCol Flex=@("auto")>
                <TextArea Placeholder=@($"- Реплика 1\n- Реплика 2\n- Реплика 3\n- Реплика 4\n") AutoSize MaxRows="20" @bind-Value="@_content" />
            </GridCol>
        </GridRow>
    </GridCol>
</GridRow>

<GridRow Class="grid-row ">
    <GridCol Span="24">
        <Button Type="@ButtonType.Primary" Block>Создать дерево диалога</Button>
    </GridCol>
</GridRow>

@code {
    private List<Npc> _listNpc { get; set; } = new List<Npc>() { new Npc(), new Npc() };

    private string _content = string.Empty;

    
}
