@using DialogueCreationKit.DialogueKit.Enums;
@using DialogueCreationKit.DialogueKit.Managers;
@using DialogueCreationKit.DialogueKit.Models;
@using DialogueCreationKit.DialogueKit.Models.View;

@if (_model.Mode == DialogueCreateMode.Dialogue)
{
    <li class="message" id="@Message.Id" style="background: @(GetColor())" @onclick=OnMessageClick>
        <div draggable="true" @ondrop="e=>DragAndDropManager.OnDrop(_model, e, Message.Id)" @ondragstart="e=>DragAndDropManager.OnDragStart(e, Message.Id)" ondragover="event.preventDefault()">
            <div class="header">
                <Avatar Style=@(_isActor ? colorAvatar0 : colorAvatar1) Class="avatar">
                    @(
                        _isActor ? _model.ActorName[0] : _model.Companion.Name[0]
                        )
                </Avatar>
                <div class="title">
                    <h4 class="name ml-8">
                        @(
                            _isActor ? _model.ActorName : _model.Companion.Name
                            )
                    </h4>
                    @if (!IsCheckedMessageMode && _stage.Stage == DialogueStage.Content && _isActor && Message.Id > 3)
                    {
                        <Checkbox @bind-Checked=@_stage.IsNewTheme>Новая тема</Checkbox>
                    }
                </div>
            </div>
            <div>
                <TextArea AutoSize MaxRows="2" Value="@Message.Message" DebounceMilliseconds="10" OnChange="OnMessageChanged" />
            </div>
        </div>
    </li>
}
else
{
    <li class="message" id="@Message.Id" style="background: #ffffff">
        <div draggable="true" @ondrop="e=>DragAndDropManager.OnDrop(_model, e, Message.Id)" @ondragstart="e=>DragAndDropManager.OnDragStart(e, Message.Id)" ondragover="event.preventDefault()">
            <div>
                <TextArea AutoSize MaxRows="2" Value="@Message.Message" DebounceMilliseconds="10" OnChange="OnMessageChanged" />
            </div>
        </div>
    </li>
}
